.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: red; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.css-19ifyp0-MuiButtonBase-root-MuiTab-root,
.css-1ax0ozr-MuiButtonBase-root-MuiTab-root {
  opacity: 1 !important;
}
.pos_action_button {
  background-color: "red";
  border: "1px solid red";
}
.focused-element:focus {
  background-color: #1976d2;
  color: white;
}
body{
  overflow: auto !important;
}
html, body {
  overscroll-behavior-y: contain; /* Prevent vertical refresh */
  overscroll-behavior: none;      /* Fully prevent overscroll */
  touch-action: pan-x pan-y;      /* Still allow scrolling */
}